# Cloud Credentials
# Copy this file to '.env' and fill in your actual keys. DO NOT commit '.env' to GitHub.

# Qdrant Cloud
QDRANT_URL="https://8e13976a-d0e1-414b-9a10-4d11d80db69a.eu-west-2-0.aws.cloud.qdrant.io"
QDRANT_API_KEY="eyJhbG..." # Replace with your full Qdrant API key

# AWS S3
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_BUCKET_NAME="processed-abo-dataset"
AWS_REGION="us-east-1"
