# Phase 1: Data Cleaning & ETL
pandas>=2.0.0
pyarrow>=12.0.0
fastembed
qdrant-client
tqdm
transformers
peft
accelerate
torch
torchvision

# Phase 4: Web Application & Cloud Deployment
fastapi
uvicorn[standard]
python-multipart
Pillow
boto3
python-dotenv
onnxruntime
optimum[onnxruntime]
